<% include ../partials/boilerplate %>

<form method='POST' action='/webDivs/<%= id %>?_method=PUT'>
    <input name='websitetitle' type='text' value='<%= webDiv.websitetitle %>' />

    <%# https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Conditional_Operator %>
    <%# http://stackoverflow.com/questions/34878180/html-select-option-with-ejs %>
    <select id='categories' name='categories_id' value='<%= webDiv.categories_id %>'>
        <%
        const options = ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17'];
        for ( let i = 0; i < options.length; i++ )
        {
            if (webDiv.categories_id == i) {
                let selected = ( webDiv.categories_id == i ) ? "selected" : "";
                %>
                <option value="<%=options[ i ] %>" <%=selected %>><%=i %>
                </option><%
            }
        }
        %>
        <option >-Choose Category-</option>
        <option value='1'>1 = Arts/Entertainment</option>
        <option value='2'>2 = Business</option>
        <option value='3'>3 = Computers/Tech</option>
        <option value='4'>4 = Games</option>
        <option value='5'>5 = Health</option>
        <option value='6'>6 = Home</option>
        <option value='7'>7 = News</option>
        <option value='8'>8 = Recreation</option>
        <option value='9'>9 = Reference</option>
        <option value='10'>10 = Regional/NYC</option>
        <option value='11'>11 = Science</option>
        <option value='12'>12 = Shopping</option>
        <option value='13'>13 = Society</option>
        <option value='14'>14 = Sports</option>
        <option value='15'>15 = Travel</option>
        <option value='16'>16 = World</option>
        <option value='17'>17 = ~Other~</option>
    </select>

    <input name='urls' type='url' value='<%= webDiv.urls %>' />
    
    <input name='descriptiontext' type='text' value='<%= webDiv.descriptiontext %>' />

    <input type='submit'  value='Edit!' />

    
</form>


<% include ../partials/end.ejs %>